[
  {
    "author": "青山刚昌",
    "category": "推理类",
    "description": "故事的主人公是高中生侦探——工藤新一在一次与他的青梅竹马毛利兰到游乐场约会的时候，新一看到两个黑衣人进行非法交易，而被另一个黑衣人从后面击昏。并给他喂下犯罪组织新研制出来的毒药。当他醒过来的时候居然变.......",
    "thumbnailurl": "http://mh.sfacg.com/Logo/b4b88606-66cc-41d7-b9b8-d64572ecf93e.jpg",
    "title": "名侦探柯南",
    "url": "http://comic.sfacg.com/HTML/MZTKN/",
    "createdAt": "2015-08-31T16:27:07.071Z",
    "updatedAt": "2015-08-31T16:27:07.071Z",
    "id": "MZTKN"
  },
]
