body {
  margin: 0;
}

.footer {
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;
}

.crop {
  height: 150px;
  overflow: hidden;
}

.crop img {
  height: 110px;
}

.img-responsive {
  zoom: 1.5;
  border: 1px solid #444;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.row {
  height: 70px;
}

.twitter-typeahead {
  float:left;
  width:100%
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-menu {  UPDATE: newer versions use tt-menu instead of tt-dropdown-menu 
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.spinner {
  margin: 0 auto;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: none;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.returnTop {
  position: fixed;
  zoom: 1.5;
  top: 90%;
  left: 80%;
  border-radius: 4px;
  color: #fff;
  background: rgba(232, 24, 7, 0.73);
}

.misc {
  margin-top: 30px;
}