body {
  margin: 0;
}

.crop {
  height: 150px;
  overflow: hidden;
}

.crop img {
  height: 110px;
}

.img-responsive {
  zoom: 1.5;
  border: 1px solid #444;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.twitter-typeahead {
  float:left;
  width:100%
}

.tt-menu {
  width: 422px;
  margin-top: -5px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  background-color: #0097cf;
  color: #fff;
}

.tt-suggestion:hover {
  background-color: #0097cf;
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.spinner {
  position: absolute;
  margin: 0 auto;
  top: 200px;
  left: 0;
  right: 0;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: none;
}

.spinner-down {
  position: absolute;
  top: 500px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.return-top {
  position: fixed;
  top: 90%;
  left: 85%;
  border-radius: 4px;
  display: none;
}

.misc {
  margin-top: 30px;
}

.chapter {
  margin-top: 60px;
}

.pagination > li > a {
  min-width: 50px;
}
